body {
    color: #224e6b;
    font-size: 17px;
    font-family: sonata_front_fonts;
}
.breadcrumb {
    padding: 8px 15px 8px 8.33%;
}

/*Checkbox*/
/*

input[type=checkbox] {
    display: none;
}
.checkbox label:before {
    border-radius: 3px;
}
input[type=checkbox]:not(checked) + label:before {
    content: " ";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
*/
/*End Checkbox*/
a {
    text-decoration: none !important;
}
.btn {
    border-radius: 2.25rem;
}
.sonata-bc .container {
    max-width: 1170px;
}

.sonata-bc .home-tools {
    background-color: #337ab8;
    padding: 66px 0 67px;
    color: #fff;
    margin: 0px;
}

.page-header {
    border: none;
}

.page-header .text-right {
    margin: 7px 0 0 0;
}
.integrar, .buscar { /*no need to make classes, just separate by (,)jaime*/
    background: #fff none repeat scroll 0 0;
    border: 1px solid #337AB8;
    border-radius: 100px;
    color: #337ab8;
    font-size: 14px;
    padding: 1em;
    font-weight: 900;
    box-shadow: 0 3px #08c;
}

.integrar:hover, .buscar:hover, .bt_integraciones:hover {
    background: #337ab8 none repeat scroll 0 0;
    color: #fff;
    -webkit-transition: all 0.2s;
}

.filete {
    height: 42px;
    margin: 0 0 0 32px;
    width: 1px;
    background: #318cb8;
}

.langs {
    margin: 10px 0 -1px 35px;
    color: #318cb8;
    font-size: 17.999998px;
}

.text-2 {
    margin: -4px auto 6px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 34.66659px;
}

.buscador {
    margin: 38px auto 0;
    min-height: 63px;
    position: relative;
    width: 832px;
}

.rounded-rectangle-1-copy {
    height: 60px;
    left: 50%;
    position: absolute;
    top: 3px;
    width: 830px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #0b2f47;
    margin-left: -414px;
}

.rounded-rectangle-1-holder {
    left: 50%;
    min-height: 20px;
    padding: 12px 40px 20px;
    position: absolute;
    top: 0;
    width: 830px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #296d91;
    margin-left: -416px;
}

.text-3 {
    margin: 0 0 -2px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 22.000002px;
}

.cloud {
    display: table;
    margin: 0 auto;
    position: relative;
}

.group {
    zoom: 1;
}

.sonata-bc .home-tools .tools-group button {
    border: 1px solid #fff;
    background-color: #337ab8;
    min-height: 46px;
    width: 231px;
    opacity: 1;
    transition: 0.2s all;
    padding: 1em;
    box-shadow: 1.5px 1.5px #f4f4f4;
}
.sonata-bc .home-tools .tools-group button:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #F1F1F1;
    color: #337ab8;
    transition: all .3s ease 0;
}
.btctg {
    min-height: 46px;
    width: 231px;
    border: 2px solid #ffffff; /*stroke*/
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: none;
    line-height: 50px;
    text-align: center;
}
.btctg:hover {
    background-color: #05567D;
}

.row-1 {
    margin: 53px 0 0;
    position: relative;
    width: 1000px;
}
.row-1 > * {
    float: left;
    margin: 0 20px 0 0;
}
.row-1 > *:last-child {
    margin-right: 0 !important;
}


.row-2 {
    margin: 20px auto 0;
    position: relative;
    width: 745px;
}
.row-2 > * {
    float: left;
    margin: 0 20px 0 0;
}
.row-2 > *:last-child {
    margin-right: 0 !important;
}

.row-3 {
    margin: 25px 0 0;
    position: relative;
    width: 1000px;
}
.row-3 > * {
    float: left;
    margin: 0 20px 0 0;
}
.row-3 > *:last-child {
    margin-right: 0 !important;
}

.integraciones {
    padding: 67px 0 69px;
    position: relative;
    background: rgb(255, 255, 255);
}

.products {
    padding: 25px 0 25px 0;
    display: none;
}

.l-constrained-4 {
    margin: 0 auto;
    padding: 0 63px;
    position: relative;
    width: 960px;
}
.icon {
    display: block;
    margin: 0 auto;
}
.text-15 {
    margin: 28px 0 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.bt_integrar {
    margin: 39px auto 0;
    min-height: 76px;
    position: relative;
    width: 322px;
}
.rounded-rectangle-1-copy-13 {
    height: 67px;
    left: 50%;
    position: absolute;
    top: 5px;
    width: 316px;
    border: 2px solid #0b2f47; /*stroke*/
    -webkit-border-radius: 35.81px/35.5px;
    -moz-border-radius: 35.81px/35.5px;
    border-radius: 35.81px/35.5px;
    background: #0b2f47;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
    margin-left: -159px;
}

.btnintegraciones {
    background: #fff none repeat scroll 0 0;
    left: 50%;
    min-height: 25px;
    padding: 21px 0;
    position: absolute;
    top: 0;
    width: 316px;
    -webkit-border-radius: 35.81px/35.5px;
    -moz-border-radius: 35.81px/35.5px;
    border-radius: 35.81px/35.5px;
    background: #337ab8;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    font-size: 23.040003px;
    font-weight: bold;
    text-align: center;
    margin-left: -161px;
    border: 1px solid #337ab8;
    transition: .1s all;
}

.btnintegraciones:hover {
    background: #337ab8;
    border: 1px solid #337ab8;
    transition: all .3s ease 0;
}

.btn-primary {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #ffffff;
    border-color: #204d74;
    background: #337ab8 none repeat scroll 0 0;
    -webkit-transition: all .2s;
}

.productos {
    padding: 82px 0 86px;
    position: relative;
    background: #ffffff;
}
.l-constrained-3 {
    margin: 0 auto;
    position: relative;
    width: 1086px;
}
.icon-2 {
    display: block;
    margin: 0 auto;
}
.text-17 {
    margin: 37px 0 6px;
    color: #318cb8;
    font-size: 30px;
    font-weight: bold;
    line-height: 34.66659px;
    text-align: center;
}


.report {
    padding: 58px 0 57px;
    position: relative;
    background: #224e6b;
}
.l-constrained-2 {
    margin: 0 auto;
    padding: 0px;
    position: relative;
    width: 1000px;
}
.icon-3 {
    display: block;
    margin: 0 auto;
    position: relative;
    right: 5px;
}
.row-6 {
    margin: 38px 0 0;
    position: relative;
}
.row-6 > * {
    float: left;
    margin: 0 87px 0 0;
}
.row-6 > *:last-child {
    margin-right: 0 !important;
}
.vector-smart-object-copy-3 {
    margin-top: 37px !important;
}
.text-22 {
    margin: -3px 87px 4px 0;
    width: 800px;
    color: #ffffff;
    font-size: 25px;
    font-style: italic;
    line-height: 34.66659px;
    text-align: center;
    margin-top: -3px !important;
}
.vector-smart-object-copy-3-2 {
    margin-top: 36px !important;
}
.text-23 {
    margin: 21px 0 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}



.sonata-bc .page-footer {
    background-color: #337AB8;
    color: #fff;
    margin: 0px;
}

.sonata-bc .page-footer a {
    color: #ffffff;
    font-size: 15px;
}

.sonata-bc .page-footer p.handcraft {
    margin-top: 15px;
    color: #ffffff;
    font-size: 15px;
}



/* Start Category Filter Menu*/
.text-6 {
    margin: 0 0 8px;
    color: #0b2f47;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
/*
.menu_filter .collapsed {
    margin-top: 10px;
    min-height: 13px;
    padding: 22px 13px;
    position: relative;
    background: #f4f4f4;
}
*/
/*
.menu_filter .collapsed .filter_name {
    float: left;
    margin: -2px 16px -3px 0;
    font-size: 18px;
    font-weight: bold;
}
.menu_filter .expanded {
    margin-top: 10px;
    position: relative;
}
*/
.selected_row {
    min-height: 16px;
    padding: 22px 15px 19px;
    position: relative;
    background: #318cb8;
}
.menu_filter .expanded .filter_name {
    margin: -2px 12px 0 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.selected_row .glyphicon-minus {
    color: #ffffff;
}
.expanded .glyphicon-ok {
    margin-right: 10px;;
}
.col-2 {
/*    min-height: 246px;*/
/*    padding: 20px 21px;*/
    position: relative;
    background: rgba(244, 244, 244, 0.9);
}
.filter_option span{
    margin-left: 10px;
}
/* End Category Filter Menu*/


/* Start Category show*/
.category_top h3 {
    color: #318cb8;
}
.category_top p {
    color: #224e6b;
}
.category_show {
        color: #224e6b;
    margin: 40px 0 0 0;
}
.logo {
    padding: 8px 10px 8px;
    position: relative;
    border: 1px solid #d7d7d7; /*stroke*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.bt_ir-a-web {
    margin: 20px 0 0;
    min-height: 18px;
    padding: 14px 0;
    border: 2px solid #224e6b; /*stroke*/
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 16.000002px;
    font-weight: bold;
    text-align: center;
}
.product_name {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.bt_integraciones {
    margin: 1px 0 0;
    min-height: 46px;
    width: 200px;
    border: 1px solid #337ab8;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #0b2f47;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
/* End Category show*/

/* Begin Product show*/
.product_page .row {
    margin-top: 40px;
    margin-bottom: 40px;
}
.product_page .product_intro .category_name {
    color: #318cb8;
    font-size: 20px;
}
.product_page .product_intro .product_name {
    font-size: 35px;
}
.product_other-products .product-category {
    color: #318cb8;
    margin-bottom: 10px;
}
.product_other-products .product-name {
    font-weight: bold;
    margin-bottom: 10px;
}
.product_page .section-title {
    color: #318cb8;
    font-size: 22px;
    font-weight: bold;
}
.products_integrated .integrated_title{
    font-weight: bold;
    font-size: 18px;
}
.product_page .products_integrated {
    background: #f4f4f4;
    padding: 26px 13px;
}
.products_integrated .integrated_category {
    margin: 15px 0 0;
    color: #318cb8;
}
.products_integrated .integrated_name {
    margin: 15px 0 0;
    font-size: 22px;
    font-weight: bold;
}
.products_integrated .bt_integraciones {
    margin: 15px 0 0;
}
/* End Product show*/

/* Begin Quiz home*/
.quiz_home .section-title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0 40px;
}
.quiz_home .services-integration {
    padding: 67px 0 69px;
}
.quiz_home .lodging-type {
    padding: 67px 0 69px;
}
.quiz_home .interested-tools {
    padding: 67px 0 69px;
}
.quiz_home .interested-tools .categories .categoryClicked {
    background-color: #318cb8;
    min-height: 50px;
}
.quiz_home .section-form2 .categories {
    background: #224e6b;
    color: #ffffff;
    min-height: 50px;
    cursor: pointer;
}
.quiz_home .selectpicker {
    width: 100%;
}
/* End Quiz home*/
